:root {
  --principal-color: #05292e;
  --letter-color: #ffffff;
}
.universe {
  display: grid;
  height: 200px;
  justify-content: center;
  align-items: center;
}

.universe form {
  display: flex;
  gap: 10px;
  justify-self: center;
}
.universe form input {
  width: 140px;
  border-radius: 6px;
  border: none;
  color: var(--principal-color);
  text-align: center;
}
.universe form button {
  height: 26px;
  box-shadow: 1px 1px 6px #fff;
  border-radius: 6px;
  border: none;
  width: 60px;
  color: var(--principal-color);
  font-weight: bold;
}
.universe-info {
  color: var(--letter-color);
}
